## 1. Python Introduction
### 1.1. Objects, variables and types
<br>
Everything in python can be called an object, and it has an identity, a type and a value.
<br><br>
The identity is the name you give the object, the variable name. Each object will also have a type and a value attached to it, even if that value is 0, or None, or empty.
<br><br>
The core types in Python are:
<br>
- strings (text wrapped in quotes - can be single quotes or double quotes, it is your choice as long as there is no apostrophe in the text, in which case you would have to use double quotes);
<br>
- integers (whole numbers);
<br>
- floats (numbers with decimal point);
<br>
- lists (represented by []), dictionaries (represented by {}, carries a key and a value separated by :)
<br>
- sets (also represented by {}, but with only keys);
<br>
- tuples (represented by ()).
<br><br>
Here is an example:
<br><br>

In [14]:
my_list_name = [ 'a string', ('a tuple', 'with two strings'),
                 {'a dictionary' : 'with one key and value'},
                 ['a nested list, or, a list within a list, with a string inside'],
                 {'a set with a string and an integer, cannot have repeated values', 42},
                 42,
                 42,
                 [],
                 50.5
               ]

my_list_name

['a string',
 ('a tuple', 'with two strings'),
 {'a dictionary': 'with one key and value'},
 ['a nested list, or, a list within a list, with a string inside'],
 {42, 'a set with a string and an integer, cannot have repeated values'},
 42,
 42,
 [],
 50.5]

In this case "my_list_name" is the identity of the object, also known as the variable in which I assigned my values to.<br> The type of "my_list_name" is a list, and inside that list we have multiple objects with different types and values.
<br><br>

To find an objetc's type we can use the function type():

In [15]:
type(my_list_name)

list

Functions are objects pre-coded that can make stuff happen just by calling them, but we will get to that later.

### 1.2. For Loops
<br>
'For loops' are used to iterate over an iterable object in python. <br>
An iterable object is an object that contains a sequence, that can be accessed individually.<br><br>
Let's say we want to access each item in our "my_list_name" and print() each of the types in it, we want to number them, and see how many objects there are in the list:

In [38]:
c = 0

for item in my_list_name:
    c = c + 1
    item_type = type(item)
    print(c)
    print(item, item_type, '\n')
    
print("There are {} items in the list.".format(len(my_list_name)))

1
a string <class 'str'>

2
('a tuple', 'with two strings') <class 'tuple'>

3
{'a dictionary': 'with one key and value'} <class 'dict'>

4
['a nested list, or, a list within a list, with a string inside'] <class 'list'>

5
{42, 'a set with a string and an integer, cannot have repeated values'} <class 'set'>

6
42 <class 'int'>

7
42 <class 'int'>

8
[] <class 'list'>

9
50.5 <class 'float'>

There are 9 items in the list.

Now, let's say we want to know also the types within the other objects inside my list:

In [39]:
c = 0

for item in my_list_name:
    c += 1 # notice that c += 1 is the same as we did before c = c + 1, but it is more professional
    print('\n\n', c, item, '\n')
    for i in item:
        item_type = type(i)
        print(i, item_type)

 1 a string

a <class 'str'>
  <class 'str'>
s <class 'str'>
t <class 'str'>
r <class 'str'>
i <class 'str'>
n <class 'str'>
g <class 'str'>


 2 ('a tuple', 'with two strings')

a tuple <class 'str'>
with two strings <class 'str'>


 3 {'a dictionary': 'with one key and value'}

a dictionary <class 'str'>


 4 ['a nested list, or, a list within a list, with a string inside']

a nested list, or, a list within a list, with a string inside <class 'str'>


 5 {42, 'a set with a string and an integer, cannot have repeated values'}

42 <class 'int'>
a set with a string and an integer, cannot have repeated values <class 'str'>


 6 42

TypeError: 'int' object is not iterable

Here we can see that:
- the nested for loop accessed each object within the objects in "my_list_name";
- since a string is also iterable, the nested for loop printed each individual character;
- the dictionary only printed the key (we will get to it later);
- since integers are not iterable, it returned an error: "TypeError: 'int' object is not iterable", where the for loop broke;

### 1.3. While Loops

While loops are not as used as for loops, but can be more effective in some situations:

In [41]:
c = 0

while c < 10:
    print(c)
    c += 1
    
print('Finished.')

0
1
2
3
4
5
6
7
8
9
Finished.

### 2. LISTS

Lists are amongst the most used object types in python, since it is iterable, being able to store a lot of data inside that is easy to access and manipulate. <br><br>
Like most core objects in Python, lists have a bunch of built-in functions that you can use specifically for that class. Lists are no different, so let's start with some basic ones:

In [32]:
# First we create an empty list
another_list = []

# Now let's populate it by using the .append() function
another_list.append('a string')

# Now let's show our list
another_list

['a string']

You can keep appending objects manually, but you usually will do it in a more automated way, since you will probably be working with loads of data. So let's do it with a for loop:

In [ ]:
# This is not recommended because it will take longer:

data_to_append = ['i want', 'to append', 'this data', "to 'another_list'"]

for data in data_to_append:
    another_list.append(data)
    
another_list

In [40]:
# A better way to do it, without the for loop:

one_list = ['another', 'example']
two_list = ['faster', 'and better']

new_list = one_list + two_list

new_list

['another', 'example', 'faster', 'and better']

Extra: Notice that .append() is an inplace function, so it changes the object right away, without having to assign it to a new variable. So, if you run the cell above again, it will append everything again, so you will have a list with the values doubled, to reset the list you will have to run the cell above that one, where we assigned another_list = []

### 2.1. List indexing

Indexing is used to access an object in a specific position inside a list. Indexing works in some other iterables, like in strings and tuples, but it does not work with sets (since theoretically, they are not ordered), and works differently in dictionaries (since when you pass in the index it will return the value associated with the key).

In [56]:
a = [1,2,3,4]

a[1]

2

In [59]:
# You can also slice:

print(a[0:2]) # the used way is a[:2]
print(a[1:4]) # the used way is a[1:]
print(a[1:3])

[1, 2]
[2, 3, 4]
[2, 3]

### 3. Integers and Floats

In [63]:
a = 2
b = 4
print(a+b)
print(a*b)
print(a**b)
print(a/b)
print(b%a) # remainder returns you what is leftover from a division
print(a%b)

6
8
16
0.5
0
2

### 4. Exercises 

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".